    .table {
        border-collapse: collapse;
        border:none;
        color:#666;
        overflow-x:scroll;
    }

        .table th {
            background-color: #f2f2f2;
            font-weight: bold;
            border: none;
        }

        .table td {
            border: none;
            padding:1rem;
        }

        .table tr:nth-child(even) {
            background-color: #dddddd;
        }

.pagination-data {
    margin-top: 10px;
    background-color: #fff !important;
   
}
    .pagination-data table{
        width:100%;
    }
    .pagination-data a, .pagination-data span {
        padding: 6px 12px;
        margin: 0 3px;
        border-radius: .5rem;
        text-decoration: none;
        border: 1px solid #ccc;
        background-color: #f5f5f5;
        color: #333;
        cursor: pointer;
        transition: .5s;
    }

        .pagination-data a:hover {
            background-color: #ddd;
        }

    .pagination-data .current-page {
        font-weight: bold;
        background-color: #007bff;
        color: #fff;
    }